<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <ion-buttons end>
      <button icon-only id="options" (click)="showOptions()">
        <ion-icon name="ios-settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides pager #storySlider>
    <ion-slide>
      <img [src]="image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="title"></h2>
      <p [innerHTML]="subtitle"></p>
    </ion-slide>
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image"/>
      <ion-toolbar class="audio">
        <ion-icon class="audio" name="play" (click)="playAudio(slide.audio)"></ion-icon>
        <!-- <ion-icon class="audio" name="pause" (click)="pauseAudio(slide.audio)"></ion-icon> -->
        <ion-icon class="audio stop" name="square" (click)="stopAudio(slide.audio)"></ion-icon>
      </ion-toolbar>
      <p class="slide-title" [innerHTML]="slide.gitksan" id="target"></p>
      <p class="option" *ngFor="let option of checkedOptions">
        {{slide.optional[option]}}
      </p>
      <p [innerHTML]="slide.english" id="english"></p>
    </ion-slide>
  </ion-slides>
</ion-content>